.content{

    padding: 2rem;
    background-color: antiquewhite;

}
.content-image{
    
    padding: 64px,64px;
    display:flex;
    width: 66%px;
    height: 406px;
    opacity: 0.8;
    margin: 50px,50px;
    justify-content: center;
   
   
}
.section{
    justify-content: center;   
    display: flex;
    
    
}
.table{
    width: 898px;; 
    height: 235px;
    text-align: left;
    padding: 110px;
    background-color: beige;
    border-collapse:collapse;
    justify-content: center;   
    display: block;
    justify-content: center;
}